.navbar {
    background-color: #abcf4e;
    color: #eff3e3;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;

    padding: 0 1rem 0 1rem;
}

.leftSection {
    display: flex;
    align-items: center;


    .appLogo {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 2rem;
    }

    .appName {
        margin-left: 4px;
        font-weight: 500;
        font-family: cursive;
        font-size: 20px;
        text-transform: uppercase;
    }

    .navbarMenuItem {
        display: flex;
        align-items: center;
    
        padding: 0 1.5rem;
        margin-right: 2rem;
        margin-top: -2px;
    
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1.2px;
        cursor: pointer;
        text-transform: uppercase;
    }
}

.rightSection {
}

