
.registrationContainer{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


.photoColumn{
    flex: 2;
    margin: 1%;
    overflow: hidden;
    -webkit-box-shadow: 4px -4px 4px -2px #333333;
	   -moz-box-shadow: 4px -4px 4px -2px #333333;
	        box-shadow: 4px -4px 4px -2px #333333;
}


.photoColumn > img {
    width: 100%;
}

