
.scrollListWrapper{
    max-height: 100%;
    flex: 5;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 2px;
}

.detailsContainer::-webkit-scrollbar {
    width: 5px;
} 

.detailsContainer::-webkit-scrollbar-track {
    background-color: #abcf4f;
}

.detailsContainer::-webkit-scrollbar-thumb {
    background-color: #e1eacb;
}

.detailsContainer{
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #abcf4e;


    overflow: hidden;
    overflow-y: scroll;
    padding: 2%;
}


.navigation{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}



.navigation > button{
    border-radius: 6px;
    cursor: pointer;
    background-color: #ffffff;
    margin: 2px;
    color: #1e5508;
    border: none;
    flex: 1;
    padding: 4% 0%;
    font-size: 1.3em;
    text-align: center
    
}

.navigation > button:hover{
    background-color: #cad6aa;
}


.info-container{
    border-radius: 6px;
    flex: 10;
    margin-top: 2%;
    background-color: #ffffff;
    padding: 4%;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 2.5em;
    font-weight: bold;
}

.date{
    font-size: 1em;
    font-weight: italic; 
}

.cords{
    font-size: 1.1em;
    font-weight: italic; 
    font-style: italic; 
    padding-bottom: 4%;
    border-bottom:1px solid #dddcdc;
}

.desc{
    text-align: justify;
    font-size: 1.1em;
}

.see-also{
    margin-top: 2%;
    flex: 4;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}

.see-also > h3{
    color: #ffffff;
}

.see-also:first-child{
    margin-top: 2%;
}

.see-also > .close-point{

    background-color:  #ffffff;
    border-radius: 6px;
    margin-bottom:  1%;
    padding: 2%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.close-point .near-point-label{
    flex: 1;
}

.close-point{
    cursor: pointer;
    border-left: 5px solid;
}

.categoryLabel{
    flex: 5;
    display: block;
    text-align: center;
    background-color: #ffffff;
    color: #1e5508;
    font-size: 24px;
    border-radius: 6px;
    margin: 2px;
    padding-top: 2%;
}

.categoryLabel:hover{
    background-color: #cad6aa;
}
