
.detailsContainer::-webkit-scrollbar {
    width: 5px;
} 

.detailsContainer::-webkit-scrollbar-track {
    background-color: #abcf4f;
}

.detailsContainer::-webkit-scrollbar-thumb {
    background-color: #e1eacb;
}

.detailsContainer{
    height: 99%;
    width: 100%;
    box-sizing: border-box;
    margin: 0% 0.5%;
    border-radius: 2px;
    background-color: #abcf4e;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    overflow-y: auto;
    padding: 2%;
}


.navigation{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.navigation > button{
    background-color: #ffffff;
    margin: 1px;
    color: #1e5508;
    border: none;
    flex: 1;
    padding: 4%;
    font-size: 1.5em
}

.navigation > button:hover{
    background-color: #cad6aa;
}


.info-container{
    flex: 10;
    margin-top: 2%;
    background-color: #ffffff;
    padding: 2%;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 2.5em;
    font-weight: bold;
}

.details{
    font-size: 1em;
    font-weight: italic; 
}

.cords{
    font-size: 1.1em;
    font-weight: italic; 
    font-style: italic; 
    padding-bottom: 4%;
    border-bottom:1px solid #dddcdc;
}

.desc{
    margin-top: 4%;
    border-top:1px solid #dddcdc;
    text-align: justify;
    font-size: 1.1em;
}