.twoInputs {
    display: flex;

    > div:not(:first-of-type) {
        margin-left: 4px;
    }

    > div:first-of-type {
        margin-right: 4px;
    }
}

.captcha {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.map {
    margin-top: 15px;
}