.mainContainer {
    box-sizing: border-box;
    background-color: rgb(241, 244, 246);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1% 1%;
}

.categoryList {
    flex: 1;
    width: 100%;
}

.categoryDescription {
    width: 100%;
    flex: 15;
}