.ecoCategoryList{
    flex: 1 0;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 56px;
}


.ecoCategoryList > * {
    margin: 0 0 30px 0;
}