
.form-container{
    flex: 1;
    border: 1px solid #333333;
    margin: 1%;
    -webkit-box-shadow: 4px -4px 4px -2px #333333;
	   -moz-box-shadow: 4px -4px 4px -2px #333333;
	        box-shadow: 4px -4px 4px -2px #333333;
}

.remember-me-line{
    margin-top: 3%;
    font-size: 1.1em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 5%;
}

.title{
    color: #1d4407;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    padding: 3% 3%;
}

.login-form{
    padding: 15% 3% 0% 3%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.login-form > :last-child{
    margin-top: 5%;
}

.link-to-login{
    border-top: dotted 1px #1d4407;
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    padding-top: 6%;
    font-size: 1.2em;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.link-to-login > .label{
    flex: 1;
    font-size: inherit;
}

.link-to-login > button{
    flex: 1;
    display: block;
    border-radius: 6px;
    border: dotted 1px #1d4407;
    text-decoration: none;
    padding: 2%;
    font-size: inherit;
    color: #fff;
}

.link-to-login > a:hover {
    color: #ffffff;
    background-color:#1d4407 ;
}