.leaflet-container {
    width: 100%;
    height: 100vh;
    display: block;
  }

  .popupContainer{
    cursor: pointer;
  }

  .popupContainer b{
    font-size: 16;
  }

  .popupContainer:hover{
    background-color: #f5f1f1;
  }