.categoryListElement{
    width: fit-content;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 25px 25px 1px 1px;
    padding: 1% 2% 1.5% 2%;
    cursor: pointer;
    color: #1d4407;
    z-index: 1;
    font-size: 1.1em;
    border-top: solid 6px;
    border-left: solid 6px;
    border-right: solid 6px;
    margin-left: 0.3%;
}

.categoryListElement:hover{ 
    background-color: #ffffff;
    color: #153304;
}

.selected{
    margin-bottom: -6px;
}
