.container{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 4px;
    margin-top: -8px;
    position: relative;
    z-index: 20;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.07) 1px 2px 2px 1px, rgba(0, 0, 0, 0.06) 0px 1px 5px 0px;
    border-top: solid 8px;
    color: #1d4407;
    display: flex;
    flex-direction: row;

    -webkit-box-shadow: 0 -8px 6px -6px #333333;
	   -moz-box-shadow: 0 -8px 6px -6px #333333;
	        box-shadow: 0 -8px 6px -6px #333333;
}

.container > :first-child{
    border-right: 2px solid  #1d4407;
    padding-right: 1%;;
}

.column{
    flex: 1;
}

.hintContainer{
    display: block;
    width: 80%;
    text-decoration: none;
    color: inherit;
    border-radius: 6px;
    
    color: #ffffff;

    padding: 1% 2%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.hintContainer:hover{
    background-color: #ffffff;
}

.hintTitle{
    font-size: 1.2em;
    font-weight: bold;
}