
.formContainer{
    flex: 1;
    border: 1px solid #333333;
    margin: 1%;
    -webkit-box-shadow: 4px -4px 4px -2px #333333;
	   -moz-box-shadow: 4px -4px 4px -2px #333333;
	        box-shadow: 4px -4px 4px -2px #333333;
}

.title{
    color: #1d4407;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    padding: 3% 3%;
}


.registerForm{
    padding: 0 3%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.inputLineTerms{
    margin-top: 3%;
    font-size: 1.1em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 5%;
}

.inputLineTerms  a{
    color: #1d4407;
}

.inputLineTerms a:hover{
    color: #53a722;
}

.linkToLogin{
    border-top: dotted 1px #1d4407;
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    padding-top: 6%;
    font-size: 1.2em;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.linkToLogin > .label{
    flex: 1;
    font-size: inherit;
}

.linkToLogin > button{
    flex: 1;
    display: block;
    border-radius: 6px;
    border: dotted 1px #1d4407;
    text-decoration: none;
    padding: 2%;
    font-size: inherit;
    color: #fff;
}

.linkToLogin > a:hover {
    color: #ffffff;
    background-color:#1d4407 ;
}