.ecoPointsListelement{
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.07) 1px 2px 2px 1px, rgba(0, 0, 0, 0.06) 0px 1px 5px 0px;
    cursor: pointer;

    color: #1d4407;

    border-left: 5px solid;
}

.ecoPointsListelement:hover{
    background-color: #fffffe;
    color: #153304;
    color: #392750;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.description {
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 500;
}

.date {
    font-size: 11px;
    opacity: 0.8;
}

.address {
    font-size: 10px;
    opacity: 0.5;
}