.ecoPointsList{
    background-color: #abcf4e;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 2%;
}


.ecoPointsList::-webkit-scrollbar {
    width: 5px;
} 

.ecoPointsList::-webkit-scrollbar-track {
    background-color: #e1eacb;

}

.ecoPointsList::-webkit-scrollbar-thumb {
    background-color: #abcf4f;
}

.scrollListWrapper{
    
    max-height: 99%;
    flex: 5;
    box-sizing: border-box;
    margin: 0% 0.5%;
    overflow: hidden;
    border-radius: 2px;
}

.filterInput{
    background-color: #abcf4e;
    padding: 2%;
}

.filterInput > ThemeProvider{
    background-color: #fff;
}