.mainPageCenterContainer{
    box-sizing: border-box;
    background-color: rgb(241, 244, 246);
    display: flex;
    flex-direction: row;
    padding: 1% .5%;
    width: 100%;
    height: 100%;
}

.mainPage{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.mapContainer{
    flex: 12;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}